<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About | Bookapp</title>
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=poppins:400,600,800" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/styles/main.css}">
</head>
<body>
    <h1>About</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam dolore excepturi itaque quidem! Corporis dolorum nostrum quaerat reiciendis unde.
    </p>
</body>
</html>